@media only screen and (max-width : 375px){
    .desktop{
        display: none;
    }

    .mobile{
        display: block;
        max-width: 300px;
        max-height: 200px;
    }

    .app{
        margin-top: 50px;
        display: inline-flex;
        flex-direction: column;
        min-height: 100vh;
        place-content: center;
    }

    .add-cart{
        height: 20px;
    }

    body{
        margin-top: 5rem;
    }

    .preview-app{
        max-width: 300px;
    }
}